button.nav-link {
  background: #e9ecef;
  border: none;
  border-top-right-radius: 50;
  border-bottom-right-radius: 50;

  &:focus {
    outline: none;
  }
  &.active:hover {
    color: white;
  }
  & :active {
    outline: none;
  }
  &.active:focus {
    outline: none;
  }
}
