<div class="form-label-group">
  <input
    [ngClass]="calculateInputClass()"
    [type]="type"
    (input)="onChange($event.target.value)"
    (blur)="onTouched()"
    id="{{ label }}"
    class="form-control"
    placeholder="{{ label }}"
    #input
  />
  <div
    *ngIf="
      controlDir &&
      controlDir.control &&
      controlDir.control.status === 'PENDING'
    "
    class="fa fa-spinner fa-spin loader"
  ></div>
  <label for="">{{ label }}</label>
  <div
    class="invalid-feedback"
    *ngIf="
      controlDir &&
      controlDir.control &&
      controlDir.control.touched &&
      !controlDir.control.valid
    "
  >
    <span *ngIf="controlDir.control.errors?.required"
      >{{ label }} is Required</span
    >
    <span *ngIf="controlDir.control.errors?.pattern"
      >{{ label }} is Invalid</span
    >
  </div>

  <!-- Needed to separate this because we'll check if dirty in place of touched -->
  <div
    class="invalid-feedback d-block"
    *ngIf="
      controlDir &&
      controlDir.control &&
      controlDir.control.dirty &&
      !controlDir.control.valid
    "
  >
    <span *ngIf="controlDir.control.errors?.emailExists"
      >Email address is in use</span
    >
  </div>
</div>
