<div class="row">
  <!-- Price Sorting -->
  <section class="col-2 mt-5">
    <h5 class="text-warning ml-3">Sort</h5>
    <select
      class="custom-select mb-3"
      (change)="onSortSelected($event.target.value)"
    >
      <option *ngFor="let sort of sortOptions" [value]="sort.value">{{
        sort.name
      }}</option>
    </select>

    <!-- Brands Filter -->
    <h5 class="text-warning ml-3">Brands</h5>
    <ul class="list-group my-3">
      <li
        class="list-group-item"
        *ngFor="let brand of brands"
        [class.active]="brand.id === this.shopParams.brandId"
        (click)="onBrandSelected(brand.id)"
      >
        {{ brand.name }}
      </li>
    </ul>

    <!-- Product Types Filters -->
    <h5 class="text-warning ml-3">Types</h5>
    <ul class="list-group my-3">
      <li
        class="list-group-item"
        *ngFor="let prdType of productTypes"
        [class.active]="prdType.id === this.shopParams.productTypeId"
        (click)="onProductTypeSelected(prdType.id)"
      >
        {{ prdType.name }}
      </li>
    </ul>
  </section>

  <!-- Main Content -->
  <div class="col-10">
    <section class="mx-5">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <app-paging-header
          [totalCount]="shopParams.serverTotalProductsCount"
          [pagingHeaderPart1]="shopParams.pagingHeaderPart1"
          [pagingHeaderPart2]="shopParams.pagingHeaderPart2"
        ></app-paging-header>

        <!-- Searching -->
        <div class="form-inline mt-2">
          <input
            type="text"
            class="form-control mr-1"
            style="width: 300px;"
            placeholder="Search by name"
            #searchBy
            (keyup.enter)="onSearch()"
          />
          <button
            class="btn btn-outline-primary my-2 mr-1"
            (click)="onSearch()"
          >
            Search
          </button>
          <button class="btn btn-outline-success my-2" (click)="onReset()">
            Reset
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-4 mb-3" *ngFor="let product of products">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>

      <!-- Pagination -->
      <div class="d-flex justify-content-center" *ngIf="products?.length > 0">
        <app-pager
          [totalCount]="shopParams.serverTotalProductsCount"
          [pageSize]="shopParams.pageSize"
          (pageChanged)="onPageChanged($event)"
        ></app-pager>
      </div>
    </section>
  </div>
</div>
